<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="background-layer" class="common full sequence-1 visible img-back" ></div>
<div id="stream-layer" class="common top sequence-2 invisible"></div>
<div id="image-layer" class="common top sequence-3 invisible "></div>
<div id="cover-layer" class="common top sequence-4 visible img-cover"></div>
<div id="bottom-layer" class="common bottom sequence-1 visible img-bottom"></div>
<div id="options-layer" class="common bottom sequence-2 invisible img-options">
    <div class="option img-option1" background-number="1" ></div>
    <div class="option img-option2" background-number="2" ></div>
    <div class="option img-option3" background-number="3" ></div>
    <div class="option img-option4" background-number="4" ></div>
</div>
<div id="qrcode-layer" class="common bottom sequence-3 invisible"></div>
<div id="frame-button-layer" class="common frame-button sequence-5 visible img-frame-button"></div>
<div id="capture-btton-layer" class="common capture-button sequence-5 visible img-capture-button"></div>
<div id="countdown-layer" class="common countdown sequence-5 invisible "></div>

</body>
</html>