<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/main1.js"></script>
    <link href="css/styles1.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="background-layer" class="common full sequence-1 visible img-back" ></div>
<video id="stream-layer" class="common top sequence-2 visible" width="1620" height="1080" autoplay>
</video>
<canvas id="image-layer" class="common top sequence-3 visible " width="1620" height="1080"></canvas>
<div id="cover1-layer" class="common top sequence-4 visible cover "></div>
<div id="cover2-layer" class="common top sequence-4 visible cover "></div>
<div id="cover3-layer" class="common top sequence-4 visible cover "></div>
<div id="cover4-layer" class="common top sequence-4 visible cover "></div>
<div id="cover5-layer" class="common top sequence-4 visible cover "></div>
<div id="cover6-layer" class="common top sequence-4 visible cover "></div>
<div id="cover7-layer" class="common top sequence-4 visible cover "></div>
<div id="cover8-layer" class="common top sequence-4 visible cover "></div>
<div id="cover9-layer" class="common top sequence-4 visible cover "></div>
<div id="cover0-layer" class="common top sequence-4 visible cover "></div>
<div id="cover10-layer" class="common top sequence-4 visible cover "></div>
<div id="cover11-layer" class="common top sequence-4 visible cover "></div>
<div id="bottom-layer" class="common bottom sequence-1 visible img-bottom">
    <div class="option img-option1" background-number="1" ></div>
    <div class="option img-option2" background-number="2" ></div>
    <div class="option img-option3" background-number="3" ></div>
    <div class="option img-option4" background-number="4" ></div>
    <div class="option img-option5" background-number="5" ></div>
    <div class="option img-option6" background-number="6" ></div>
    <div class="option img-option7" background-number="7" ></div>
    <div class="option img-option8" background-number="8" ></div>
    <div class="option img-option9" background-number="9" ></div>
    <div class="option img-option0" background-number="0" ></div>
    <div class="option img-option10" background-number="10" ></div>
    <div class="option img-option11" background-number="11" ></div>

</div>
</div>
<div id="qrcode-layer" class="common bottom sequence-3 invisible img-qr-back">
    <div id="return-to-capture" class="qr img-return"></div>
    <div id="qr-code" class="qr qr-code"></div>
    <div class="qr img-qr-comment"></div>
    <div id="print-pic" class="qr img-print"></div>
</div>
<div id="capture-button-layer" class="common capture-button sequence-5 visible img-capture-button"></div>
<div id="countdown1-layer" class="common countdown sequence-5  "></div>
<div id="countdown2-layer" class="common countdown sequence-5  "></div>
<div id="countdown3-layer" class="common countdown sequence-5  "></div>
<div id="countdown4-layer" class="common countdown sequence-5  "></div>
<div id="countdown5-layer" class="common countdown sequence-5  "></div>
<div id="printer-layer" class="common countdown sequence-5  "></div>

</body>
</html>