<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://apps.bdimg.com/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
    <link href="css/styles.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="background-layer" class="common full sequence-1 visible img-back" ></div>
<video id="stream-layer" class="common top sequence-2 invisible" width="1620" height="1080" autoplay>
</video>
<canvas id="image-layer" class="common top sequence-3 visible " width="1620" height="1080"></canvas>
<div id="cover-layer" class="common top sequence-4 visible "></div>
<div id="bottom-layer" class="common bottom sequence-1 visible img-bottom"></div>
<div id="options-layer" class="common options sequence-2 invisible img-options">
    <div class="option img-option1" background-number="1" ></div>
    <div class="option img-option2" background-number="2" ></div>
    <div class="option img-option3" background-number="3" ></div>
    <div class="option img-option4" background-number="4" ></div>
</div>
<div id="qrcode-layer" class="common bottom sequence-3 invisible"></div>
<div id="frame-button-layer" class="common frame-button sequence-5 visible img-frame-button"></div>
<div id="capture-button-layer" class="common capture-button sequence-5 visible img-capture-button"></div>
<div id="countdown1-layer" class="common countdown sequence-5  "></div>
<div id="countdown2-layer" class="common countdown sequence-5  "></div>
<div id="countdown3-layer" class="common countdown sequence-5  "></div>
<div id="countdown4-layer" class="common countdown sequence-5  "></div>
<div id="countdown5-layer" class="common countdown sequence-5  "></div>
<div id="printer-layer" class="common countdown sequence-5  "></div>

</body>
</html>